<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFG-9q95N8fggLfoHOnP5LCW7D5gn9gXg</string>
	<key>GCM_SENDER_ID</key>
	<string>757106359512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kourtwiz.mobile</string>
	<key>PROJECT_ID</key>
	<string>kourtwiz-fa0eb</string>
	<key>STORAGE_BUCKET</key>
	<string>kourtwiz-fa0eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757106359512:ios:a7a03bb2cb910c0274abad</string>
</dict>
</plist>